In [2]:
## Exponents and powers

from IPython.display import display, Math
print(3**3)
print(3** (2+4))

27
729

In [5]:
# computing square root

4**(1/2)
9**1/2
9**(1/2)

4.5

In [13]:
## Writing nice equations using latex

from IPython.display import display, Math

In [16]:
display(Math('3^2 = 3'))

In [25]:
display(Math('3^2\\times 3^4 = 3^{2+4}'))

In [24]:
x = 5
y = 5.1

ans = x**(3/4) * 4**y
display(Math("x^{3/4} \\times 4^y = %g" %ans))

In [26]:
ans = (3**3) / (x**y)
display(Math('\\frac{3^3}{x^y} = %g' %ans))

In [27]:
solution = 10**(x-4)

display(Math('10^{x-4} = %g' %ans))

FOR LOOPS

In [ ]:
## using for-loops to commute powers


for i in [0,1,2,3]:
    print(i**2)

In [29]:
range(0,3)

range(0, 3)

In [30]:
#to convert range into a list
list(range(0,3))  ## When you see green texting in jupiter, it means a reserved word.

[0, 1, 2]

In [31]:
for intern in range(0,3):
    print('This is the %gth iterations' %intern)  ## notice that the 'th' is not well suited for the code

This is the 0th iterations
This is the 1th iterations
This is the 2th iterations

In [33]:
for t in range(0,5):
    num = t**2
    print(num)

0
1
4
9
16

In [36]:
#Exercise


for i in range(0,10):
    print('2 to the power of %g is %g' %(i, 2**i))

2 to the power of 0 is 1
2 to the power of 1 is 2
2 to the power of 2 is 4
2 to the power of 3 is 8
2 to the power of 4 is 16
2 to the power of 5 is 32
2 to the power of 6 is 64
2 to the power of 7 is 128
2 to the power of 8 is 256
2 to the power of 9 is 512

In [3]:
for i in range(0,18):
    print('%g to the power of %g is %g' %(i,2, i**2))

0 to the power of 2 is 0
1 to the power of 2 is 1
2 to the power of 2 is 4
3 to the power of 2 is 9
4 to the power of 2 is 16
5 to the power of 2 is 25
6 to the power of 2 is 36
7 to the power of 2 is 49
8 to the power of 2 is 64
9 to the power of 2 is 81
10 to the power of 2 is 100
11 to the power of 2 is 121
12 to the power of 2 is 144
13 to the power of 2 is 169
14 to the power of 2 is 196
15 to the power of 2 is 225
16 to the power of 2 is 256
17 to the power of 2 is 289

ORDER OF OPERATIONS

In [37]:
# The order of operations consider which arithmetic should be
print(4 + 3  * 2 - 1)  #spaces have no effect whatsoever

9

In [38]:
print(4+3 * 2-1) #spacing helps you read your code and it helps everyone read your code

9

In [39]:
print((4+3) * 2-1) #what happened here is that the code gets grouped together as 7 times 2

13

In [40]:
print((4+3) * (2-1)) #And then the grouping returns the answer fro

7

In [46]:
(4*5) / (7 + 3)

2.0

In [47]:
9 / (3+6) - 1

0.0

testing inequality and Boolean datastructure